.hero {
    position: relative;
}
.hero h2, p{
    animation: flash 5s forwards;
}

@keyframes flash{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.offer-text{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.65em !important;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 8px;
    border-radius: 5px;
    animation: flash1 2s ease-in-out infinite;
    z-index: 3;
}
  
@keyframes flash1 {
    0%{
        opacity: 0;
    } 
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.category, .product {
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
  }
  .category:hover, .product:hover {
    transform: scale(1.09); /* Scale up effect on hover */
  }

  .category img , .product img{
    animation: fadeIn 3s ease-in-out forwards; /* Fade-in animation */
  }

 
  @keyframes fadeIn {
    from{
      opacity: 0;
      transform: translateY(50px);
    } to{
      opacity: 1;
      transform: translateX(0);
    }
   
  }