body{
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(247, 243, 233), rgb(251, 215, 125));
  /* color: goldenrod; */
}
.card a{
  background-color: goldenrod;
  border: none;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  box-shadow:2px 2px 5px rgba(78, 78, 78, 0.5);
}
.card-price-text{
  color: rgb(71, 148, 94);
}
.card-text{
  font-size: 0.9em;
  text-align: justify;
  color: gray;
}
.card-title{
  color: rgb(90, 91, 87);
  font-size: 1.2em;
}
.card{
  box-shadow: inset  2px 2px 5px rgba(78, 78, 78, 0.5);
}
.card a:hover{
color: goldenrod;
}
.hover-button {
  position: relative; /* Set position for pseudo-element alignment */
  display: inline-block; /* Inline block for button styling */
  padding: 0.5em 3.5em;
  text-decoration: none; /* Padding for the button */
  font-size: 16px; /* Button font size */
  color: #fff; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Optional rounded corners */
  overflow: hidden; /* Hide the pseudo-element overflow */
  cursor: pointer; /* Pointer cursor on hover */
  z-index: 1; /* Ensure button text is on top */
}

.hover-button::before {
  content: "Add to Cart"; /* Empty content for the pseudo-element */
  position: absolute;
  padding: 0.5em 3.5em; /* Position relative to the button */
  top: 0;
  left: -100%; /* Start fully outside on the left */
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(rgb(248, 231, 198),rgb(248, 180, 10), rgb(244, 240, 231));
  z-index: 0; /* Place it below the button text */
  transition: left 1s ease; /* Transition for left movement */
}

.hover-button:hover::before {
  left: 0; /* Move the background to cover the button */
}

